<div class="row no-gutters gutters-height">
    <div class="d-none d-md-flex col-md-2 col-lg-4 size-change-small bg-image"></div>
    <div class="col-md-8 col-lg-8 white-background size-change-big">
        <form action="{{ url_for('reset_password_request') }}" class="needs-validation" method="post" id="reset_password_request_form">
            <h3 class="login-heading mb-4 heading-margin-change new-location">Find your account</h3>
            {{ form.hidden_tag() }}
            <div class="input-group" style="padding-bottom: 5px">
                <div class="form-label-group">
                    {{ form.email(class=" form-control validation-js form-control-change", id="reset_request_email", type= "email", placeholder="Enter your email*")}}
                    {{ form.email.label(for="reset_request_email") }}
                </div>
            </div>
            <div>
                <button class="btn login-btn " name="submit" style="margin-top: 15px;" type="submit"><span class="btnValue">Email Me</span><div class=" pass-reset-btn-resize lds-ellipsis" style="display: none"><div></div><div></div><div></div><div></div></div></button>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
    $( "#reset_password_request_form" ).validate({
        onkeyup: false,
        onfocusout:false,
        onclick:false,
        rules: {
            email: {
                required: true,
                email: true,
            },
        },
        messages: {
            email:{
                email:  "Please Enter a valid Email address",
            },
        },
         submitHandler: function (form) {
             $.ajax({
                 type: "POST",
                 url: "/reset_password_request",
                 data: $(form).serialize(),
                 success: function () {
                     $(form).html("<div id='message'></div>");
                     $('#message').html("<h5 class=\"login-heading mb-4 heading-margin-change new-location\" style='font-size: 32px'>A reset email is on the way..." +
                                        "<h5 class=\"login-heading mb-4 heading-margin-change new-location\" style='font-size: 17px'>Check your email for the instructions to reset your password.</h5>")
                         .hide()
                         .fadeIn(1500, function () {
                             setTimeout("window.location.replace('/index')",3000)
                     });
                 }
             });
             return false;
         },
        errorElement: "em",
        errorPlacement: function ( error, element ) {

            error.addClass( "invalid-feedback" );
            if ( element.prop( "type" ) === "checkbox" ) {
                error.insertAfter( element.next( "label" ) );
            } else {
                error.insertAfter( element );
            }
        },
        highlight:function( element, errorClass, validClass ) {
            function invalid(element){
                $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
            }
            setTimeout(invalid(element), 2000)
        },
        unhighlight: function (element, errorClass, validClass) {
            function valid(element){
                $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
            }
            setTimeout(valid(element), 2000)
        }
    });
});
</script>
<script>
  $(function () {
      $('form').on('submit',function (){
        $('.btnValue').hide();
        $('.lds-ellipsis').show();
        $('.lds-ellipsis').delay(900).fadeOut('slow', function () {
            $('.btnValue').fadeIn('slow');
        });
      });
  })
</script>